/* Logo */


/* Container */
.calc-logo--container{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Imagen */
.calc-logo{
  height: 220px;
}
/* Responsive Design */
@media(max-width:1024px){
  .calc-logo{
    height: 170px;
  }
}
@media(max-width:720px){
  .calc-logo{
    height: 120px;
  }
}
@media(max-width:480px){
  .calc-logo{
    height: 0px;
  }
}